.saldo{
    align-items: center;
    color: black;
    font-size: 3rem;
    src: url(./fonts/YuseiMagic/YuseiMagic-Regular.ttf);
}
.saldoN{
    color: red;
    font-size: 3rem;
    src: url(./fonts/YuseiMagic/YuseiMagic-Regular.ttf);
}
.saldoT{
    display: flex;
    justify-content: center;
}
.wallet{
    width: 2.5rem;
    margin-right: 1rem;
}
p{
    font-family: 'miFuente';
    font-size: 20px;    
    font-style: italic;
}
