.saldoBlue{
    font-size: 60px;
    color: blue;
}
.saldoRed{
    font-size: 60px;
    color: red;
}
.egreso{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
}
.ingreso{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 30px;
}