.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerModal{
    display: flex;
    justify-content: center ;
}
.campos{
    margin-top: 35px;
}
.observacion{
    margin-top: 25px;
}